*{
    font-family: "Comic Neue", cursive;
    font-size: 18px;
    background-color: beige;
}
#boxback{
    background-color: gray;
    width: 300px;
    height: 500px;
    position: relative;
    border: solid black 2px;
}
#boxred{
    background-color: red;
    width: 100px;
    height: 100px;
    position: static;
    border: solid black 2px;
    top: 0%;
}

#boxgreen{
    background-color: green;
    width: 100px;
    height: 100px;
    position: sticky;
    border: solid black 2px;
    top: 2%;
}
#boxblue{
    background-color: blue;
    width: 100px;
    height: 100px;
    position: fixed;
    border: solid black 2px;
    left: 6%;
}
#boxyellow{
    background-color: yellow;
    width: 100px;
    height: 100px;
    position: absolute;
    border: solid black 2px;
    top: 15%;
    left: 5%;
}
#boxpurple{
    background-color: purple;
    width: 100px;
    height: 100px;
    position: relative;
    border: solid black 2px;
    top: 50%;
    left: 5%;
}
.flexsetup{
    display: flex;
    flex-direction: column;
}

aside{
    width: 5%;
    background-color: black;
    height: 500%;
    position: absolute;
    right: 0%;
}
